#dice-image-header{
  background-image: url(../img/cube.jpeg);
  height:20rem;
  width:100%;
  background-size: cover;
  background-position-y: center;
}
h1{
  background-color: aliceblue;
  text-align: center;
}
div{
  margin-bottom:.5rem;
}

.game-over{
  display:none;
}