#dice-image-header{
  background-image: url(../img/cube.jpeg);
  height:20rem;
  width:100%;
  background-size: cover;
  background-position-y: center;
}
h1{
  background-color: aliceblue;
  text-align: center;
}
<<<<<<< HEAD
div{
  margin-bottom:.5rem;
}
=======
>>>>>>> 82b2f2988efbb6fb86093856f65af44eaf353d6f

.game-over{
  display:none;
}